@font-face {
    font-family: "K2D";
    src: url("./fonts/K2D-Regular.ttf");
}

@font-face {
    font-family: 'Kodchasan';
    src: url("./fonts/Kodchasan-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: "K2D" ,"Kodchasan";
}
a{
    color: inherit;
    text-decoration: none;
    margin: 0;
}
nav{
    height: 12vh;
    width: 100%;
    background: rgba(7, 57, 98,.8);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    font-size:12px;
    z-index: 1000;
}
nav .logo{
    transform: scale(.6);
    position: relative;
    margin-left: -40px;
}
nav ul{
    display: flex;
    list-style: none;
    color: white;
}
nav li{
    padding: 0 10px;
}
.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .login-nav{
    display: flex;
    align-items: center;
    margin:0 30px 0 20px;
}
.login-nav li{
    padding:0 10px;
}
nav .signUp-btn{
    color: rgb(7, 57, 98);
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.heroSection{
    height: 100vh;
    background: #092842;
    background-image:url("./images/heroSection-line.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 98;
}
.sasukeHeroImage{
    height: 60vh;
    width: 100vh;
    transform: translateY();
    background-image: url("./images/sasuke-new.jpg");
    background-position:center;
    background-size: cover;
    border-radius: 0 0 100vh 100vh;
    border: 4vw solid rgb(7, 57, 98);
}
.heroSection .bannerText{
    color: #fff;
    margin-top: 8vh;
}
.bannerText .text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerText p{
    line-height: 30px;
    margin-right: 10px;
}
button{
    padding: 12px 25px;
    border: none;
    cursor: pointer;
}
.about{
    min-height: 50vh;
    background: #257CA9;
    overflow: hidden;
    display: flex;
}
.about .introduction{
    width: calc(100vw - 50vh);
    text-align: justify;
    font-size: .9rem;
    line-height: 1.3rem;    word-spacing: 2px;  letter-spacing: 2px;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    overflow: scroll;
    position: relative;
}
.introduction .ramen-soup{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 120px;
}
.introduction p{
    margin-bottom: 20px;
    z-index: 1;
}
.about .ramenVideo{
    background: #073962;
    /* float: right; */
    min-height: 100%;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sasukeSection{
    height: 88vh;
    background: #232B3B;
    background-image: url("./images/wavy.png");
    background-size: cover;
    background-blend-mode: screen;
    position: relative;
}
.sasuke-thinking{
    position: absolute;
    bottom: 0;
    max-width: 650px;
    width:70vw;
}
.sasukeStory{
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 400px;
    display: flex;
    /* flex-direction: column; */
}
.sasukeStory p{
    padding: 20px;
    background: rgb(255, 255, 255);
}
.sasukeStory button{
    background: #050127;
    color: white;
    border: 4px solid white;
}
.faq{
    min-height: 70vh;
    max-height: fit-content;
    background-image: url("./images/japanese-store.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: scroll;
}
.accordion-cntr{
    max-width: 800px;
    width: 60%;
    min-width: 400px;
    display: flex; justify-content: center; align-items: center;
    flex-direction: column;
}
.accordion-cntr:last-child{
    margin-bottom: 40px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding:5px 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.active, .accordion:hover {
    background-color: #ffffff;
    color: black;
}
.panel {
    padding: 20px;
    width: 80%;
    background-color: #151420;
    display: none;
    overflow: hidden;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: .75rem;
    color: white;
    text-align: justify;
    border-radius: 0 0 15px 15px;
    border:2px solid white;
    border-top: none;
}
footer{
    font-family: 'K2D' !important;
    height: 50vh;
    background: #110B1D;
    color: white;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
    /* align-items: center; */
    gap: 100px;
}
footer p{
    font-size: .8rem;
    margin-top: 5px;
}
.map iframe{
    margin-top: 20px;
    border-radius: 5px;
}
.footerNav,.ramenContact{
    margin-top: 55px;
} 


/* Menu page CSS */
.menuHeroSect{
    height: 100vh;
    background: #092842;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}
.circleBG{
    min-height: 100vh;
    min-width: 80vh;
    height: 40vw;
    width: 100vw;
    background-image: url("./images/hex-pattern-bg.jpg");
    background-size: 500px;
    background-position: center;
    position: absolute;
    top: 6vh;
    right: -40vw;
    mix-blend-mode: multiply;
    border-radius: 100vh;
    z-index: 200;
}
.noodle{
    position: absolute;
    z-index: 201;
    left: 10%;
    top: 20vh;
    height: 80%;
}